.card_link {
    text-decoration: none;
    color: #0000FF;
}

.card_link:hover h5.card-title {
    color: #fd7e14;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 9999;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-item {
    padding: 5px;
}

.profile-card {
    max-width: 500px;
    margin: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #007bff;
}

.card-header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #f8f9fa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.list-group-item {
    border: 0;
    padding-left: 0;
}
